<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h6 class="text-center">Users</h6>
                    <table class="table table-sm table-hover">
                        <tbody>
                            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
                            <tr *ngFor="let user of users">
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h6 class="text-center">My User</h6>
                    <table class="table table-sm table-hover">
                        <tbody>
                            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
                            <tr *ngIf="myUser">
                                <td>{{myUser.name}}</td>
                                <td>{{myUser.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>